---
import DefaultLayout from "@/layouts/Default.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import Hero from "@/components/Hero.astro";
import Badge from "@/components/Badge.astro";
import { getCollection, render } from "astro:content";
import { useTranslations } from "@/i18n/utils";
import { SITE_AUTHOR, SITE_URL } from "@/consts";

export async function getStaticPaths() {
  const posts = (await getCollection("blog")).filter((post) => post.data?.draft !== true);
  return posts.map((post) => ({
    params: { slug: post.data.slug },
    props: post,
  }));
}

const post = Astro.props;
const { Content } = await render(post);

const { title, description, pubDate, updatedDate } = post.data;
const t = useTranslations("es");

const schema = {
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  mainEntityOfPage: {
    "@type": "WebPage",
    "@id": `${SITE_URL}/${post.data.slug}`,
  },
  headline: title,
  image: "",
  author: {
    "@type": "Person",
    name: SITE_AUTHOR,
    url: SITE_URL,
  },
  publisher: {
    "@type": "Organization",
    name: SITE_AUTHOR,
    logo: {
      "@type": "ImageObject",
      url: SITE_URL,
    },
  },
  datePublished: pubDate,
  dateModified: updatedDate ?? pubDate,
};
---

<DefaultLayout title={`${title} | Blog`} description={description}>
  <article>
    <Hero>
      <Badge class="hero-badge">
        <FormattedDate date={updatedDate ?? pubDate} />
      </Badge>
      <h1>{title}</h1>
      {description && <p class="description">{description}</p>}
      {
        updatedDate && (
          <Badge class="hero-badge original">
            {t("originalPublicationDate")} <FormattedDate date={pubDate} />
          </Badge>
        )
      }
    </Hero>
    <section class="container container--small post-content">
      <Content />
    </section>
  </article>
  <script type="application/ld+json" set:html={JSON.stringify(schema)} />
</DefaultLayout>

<style>
  .original {
    font-size: 0.875rem;
  }
</style>
